body {
    padding-bottom: 2rem;
}

.list-group-item,
.btn {
    font-size: 10px !important;
    font-weight: 600;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
}

textarea,
input,
.text-danger {
    font-size: 10px !important;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #e3ebf3;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mat-mdc-snack-bar-container {
    --mdc-snackbar-supporting-text-size: 11px;
}

.mat-mdc-snack-bar-action {
    font-size: 11px !important;
    color: whitesmoke !important;
}

.mat-mdc-snack-bar-container {
    --mdc-snackbar-supporting-text-size: 12px;
    --mdc-snackbar-container-shape: 8px;

    &.success-snackbar {
        --mdc-snackbar-container-color: #81c784;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #313131;
    }

    &.error-snackbar {
        --mdc-snackbar-container-color: #e57373;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #313131;
    }

    &.warning-snackbar {
        --mdc-snackbar-container-color: #ffb74d;
        --mat-mdc-snack-bar-button-color: #333;
        --mdc-snackbar-supporting-text-color: #313131;
    }

    &.info-snackbar {
        --mdc-snackbar-container-color: #64b5f6;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #313131;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
