<nav class="navbar navbar-light bg-light px-3 shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold" href="#">Speech Manager</a>
  
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Hi {{ (selectedUser$ | async)?.firstName }} {{ (selectedUser$ | async)?.lastName }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            @for(user of (users$ | async); track user.id) {
            <li>
              <a class="dropdown-item" (click)="selectUser(user.id)">{{ user.firstName }} {{user.lastName}}</a>
            </li>
            }
          </ul>
        </div>
  
        <button class="btn" type="button">
          <i class="bi bi-list"></i>
        </button>
      </div>
    </div>
  </nav>
  