<div class="list-group-container d-flex flex-column overflow-auto">
    <ul class="list-group d-flex flex-column">
      <li class="list-group-item text-center">Item 1</li>
      <li class="list-group-item text-center">Item 2</li>
      <li class="list-group-item text-center">Item 3</li>
      <li class="list-group-item text-center">Item 4</li>
      <li class="list-group-item text-center">Item 1</li>
      <li class="list-group-item text-center">Item 2</li>
      <li class="list-group-item text-center">Item 3</li>
      <li class="list-group-item text-center">Item 4</li>
      <li class="list-group-item text-center">Item 1</li>
      <li class="list-group-item text-center">Item 2</li>
      <li class="list-group-item text-center">Item 3</li>
      <li class="list-group-item text-center">Item 4</li>
      <li class="list-group-item text-center">Item 1</li>
      <li class="list-group-item text-center">Item 2</li>
      <li class="list-group-item text-center">Item 3</li>
      <li class="list-group-item text-center">Item 4</li>
      <li class="list-group-item text-center">Item 1</li>
      <li class="list-group-item text-center">Item 2</li>
      <li class="list-group-item text-center">Item 3</li>
      <li class="list-group-item text-center">Item 4</li>
    </ul>
</div>
