.list-group {
    min-height: 80vh !important;
    max-height: 80vh !important;

    .list-group-item {
        min-height: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .alert {
        font-size: 10px;
    }
}
