.custom-nav .list-group-item {
    font-weight: 600;
    font-size: 12px!important;
    border: none;
    transition: all 0.3s ease-in-out;
    background: var(--bs-light);
    color: var(--bs-dark);
    cursor: pointer;
}

.custom-nav .list-group-item:hover {
    background: var(--bs-gray-200);
    color: var(--bs-dark);
}

.custom-nav .list-group-item.active {
    background: var(--bs-gray-600);
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.custom-nav .list-group-item:first-child {
    border-radius: 10px 0 0 10px;
}

custom-nav .list-group-item:last-child {
    border-radius: 0 10px 10px 0;
}
