<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-md-6">
      <input 
      class="form-control" 
      type="text" 
      placeholder="Title" 
      [value]="editedTitle"
      (input)="onTitleChange($event)"
      #contentTitle/>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-md-12">
      <textarea
      rows="21"
      class="form-control text-start"
      placeholder="Content goes here..."
      aria-label=""
      [value]="editedContent"
      (input)="onContentChange($event)"
      #speechContent
    ></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-6 d-flex justify-content-end">
      @if((pageType$ | async ) === 'VIEW' || (pageType$ | async ) === 'ALL') {

        @if((pageType$ | async ) === 'ALL') {
          <input class="form-control me-2" type="text" placeholder="Author" />
        }
  
        <input class="form-control me-2" type="text" placeholder="Subject area keywords"/>
        <input class="form-control" type="date" >
      }
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6 offset-md-6 d-flex justify-content-end">
      @if((pageType$ | async ) === 'VIEW') {
        <button (click)="onDelete()" type="button" class="btn btn-danger btn-sm me-2">Delete</button>
      }
      
      @if((pageType$ | async ) === 'VIEW' || (pageType$ | async ) === 'ADD') {
        <button (click)="onSave()" type="button" class="btn btn-success btn-sm me-2">Save</button>
      }
      
      @if((pageType$ | async ) === 'VIEW' || (pageType$ | async ) === 'ALL') {
        <button (click)="onShare()" type="button" class="btn btn-primary btn-sm">Share</button>
      }
    </div>
  </div>
</div>
