.custom-container,
.container-fluid {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#contentTitle {
    font-weight: 600;
}

textarea {
    resize: none;
}

.text-sm-end {
    font-size: 11px !important;
}
